table {
    border-collapse: collapse;
    border-radius: 0.5em;
    overflow: hidden;
}

.border-menu {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background: linear-gradient(-35deg, #1a3787, #da251e, #1a3787);        
    position: relative; padding: 3px;
}

.btn-menu {
    width: 39px;
    height: 39px;
    top: 2px;
    padding: 2rem;
}