html, body {
    height: 100%;
}

/*.container {
    height: 100vh;
    z-index: 1;
}*/

.header-container {
    background-image: radial-gradient(ellipse at center,#00b4db, #0083b0);
    /*position: fixed;*/
    z-index: 0;
    text-shadow: none;
    width:120%;
    height:160px;
    border-bottom-left-radius: 65%;
    border-bottom-right-radius:65%;
    margin: 0 auto;
    margin-left: -10%;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;    
}

#brand-apps {
    font-family: 'Molle', cursive;
    font-size: 21px;
    color: #FFF;
}

.circle-brand {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 25px;
    color: #FFF;
    line-height: 65px;
    text-align: center;
    background: transparent;
    border-color: #FFF;
    border: 2px solid;
    top: 10px;
}

:root {
    /* generic */
    --gutterSm: 0.4rem;
    --gutterMd: 0.8rem;
    --gutterLg: 1.6rem;
    --gutterXl: 2.4rem;
    --gutterXx: 7.2rem;
    /*--colorPrimary400: #7e57c2;
    --colorPrimary600: #5e35b1;
    --colorPrimary800: #4527a0;
    --fontFamily: "Dosis", sans-serif;
    --fontSizeSm: 1.2rem;
    --fontSizeMd: 1.6rem;
    --fontSizeLg: 2.1rem;
    --fontSizeXl: 2.8rem;
    --fontSizeXx: 3.6rem;*/
    --fontSizeSm: 0.4rem;
    --fontSizeMd: 0.8rem;
    --fontSizeLg: 0.8rem;
    --fontSizeXl: 1.4rem;
    --fontSizeXx: 1.8rem;
    /*--lineHeightSm: 1.1;
    --lineHeightMd: 1.8;*/
    --lineHeightSm: 0.1;
    --lineHeightMd: 0.2;
    --transitionDuration: 300ms;
    --transitionTF: cubic-bezier(0.645, 0.045, 0.355, 1);

    /* floated labels */
    --inputPaddingV: var(--gutterMd);
    --inputPaddingH: var(--gutterLg);
    --inputFontSize: var(--fontSizeLg);
    --inputLineHeight: var(--lineHeightMd);
    --labelScaleFactor: 0.8;
    --labelDefaultPosY: 50%;
    --labelTransformedPosY: calc(
    (var(--labelDefaultPosY)) - 
    (var(--inputPaddingV) * var(--labelScaleFactor)) - 
    (var(--inputFontSize) * var(--inputLineHeight))
    );
    --inputTransitionDuration: var(--transitionDuration);
    --inputTransitionTF: var(--transitionTF);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.Wrapper {
    flex: 0 0 80%;
    max-width: 80%;
}

.Title {
    margin: 0 0 var(--gutterXx) 0;
    padding: 0;
    color: #fff;
    font-size: var(--fontSizeXx);
    font-weight: 400;
    line-height: var(--lineHeightSm);
    text-align: center;
    text-shadow: -0.1rem 0.1rem 0.2rem var(--colorPrimary800);
}

.Input {
    position: relative;
}

.Input-text {
    display: block;
    margin: 0;
    padding: var(--inputPaddingV) var(--inputPaddingH);
    color: inherit;
    width: 100%;
    font-family: inherit;
    font-size: var(--inputFontSize);
    font-weight: inherit;
    line-height: var(--inputLineHeight);
    border: none;
    /*border-radius: 0.4rem;*/
    border-radius: 1.4rem;
    transition: box-shadow var(--transitionDuration);
}

.Input-text::placeholder {
    color: #B0BEC5;
}

.Input-text:focus {
    outline: none;
    box-shadow: 0.2rem 0.8rem 1.6rem var(--colorPrimary600);
}

.Input-label {
    display: block;
    position: absolute;
    bottom: 50%;
    left: 1rem;
    color: #000;
    font-family: inherit;
    font-size: var(--inputFontSize);
    font-weight: inherit;
    line-height: var(--inputLineHeight);
    opacity: 0;
    transform: 
        translate3d(0, var(--labelDefaultPosY), 0)
        scale(1);
    transform-origin: 0 0;
    transition:
        opacity var(--inputTransitionDuration) var(--inputTransitionTF),
        transform var(--inputTransitionDuration) var(--inputTransitionTF),
        visibility 0ms var(--inputTransitionDuration) var(--inputTransitionTF),
        z-index 0ms var(--inputTransitionDuration) var(--inputTransitionTF);
}

.Input-text:placeholder-shown + .Input-label {
    visibility: hidden;
    z-index: -1;
}

.Input-text:not(:placeholder-shown) + .Input-label,
.Input-text:focus:not(:placeholder-shown) + .Input-label {
    visibility: visible;
    z-index: 1;
    opacity: 1;
    transform:
        translate3d(0, var(--labelTransformedPosY), 0)
        scale(var(--labelScaleFactor));
    transition:
        transform var(--inputTransitionDuration),
        visibility 0ms,
        z-index 0ms;
}