body *{
    /*font-family: 'Slabo 27px', serif;*/
    /*font-family: 'Open Sans Condensed', sans-serif;*/
    /*font-family: 'Roboto', sans-serif;*/
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
}

.movetxt {
    display: inline-block;
    white-space: nowrap;
    animation: floatText 7s infinite linear;
    padding-left: 100%;
}
    
@-webkit-keyframes floatText {
    to {
        transform: translateX(-100%);
    }
}

@keyframes floatText {
    to {
        transform: translateX(-100%);
    }
}

div.ui-grid-a {
    height: 50% !important;
    text-align: center;
    position: absolute;
    bottom: 30px;
    width: 90%;
    left: 50%;
}

.positionori{
    display: block;
    margin-left: -45.5%;
    opacity: 1;
    transition:opacity 0.5s linear;
    z-index: 2;
}

.moveleft {
    transition:0.5s;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    margin-left: -60.5%;
    opacity:0;
    transition:opacity 0.2s linear;
    z-index: 0;
}

.moveright {
    transition:0.5s;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    margin-left: -20.5%;
    opacity:0;
    transition:opacity 0.2s linear;
    z-index: 0;
}

.ui-block-a, .ui-block-b, .ui-block-c {
    height: 30% !important;
}

.ui-bar-a, .ui-bar-b {
    height: 100% !important;
    background-color: transparent !important;
    border-style: none !important;
}

.borderdiv {
    border:1px solid black !important;
    background-color: #fff !important;
}

.homeico {
	/*color: #ff704d;*/
    color: #006080;
	text-align: center;
	text-shadow: none;
}

.homeicotxt {
	color: #152737;
	font-size: 12px !important;
	text-shadow: none;
}

hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

hr.style-three {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

hr.style-six {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.bluebtn{
	background-color: #0375B4 !important;
	color: #fff !important;
	border: none !important;
	text-shadow: none !important;
}

.redbtn{
    background-color: #d9534f !important;
    color: #fff !important;
    border: none !important;
    text-shadow: none !important;
}

.greenbtn{
    background-color: #5cb85c !important;
    color: #fff !important;
    border: none !important;
    text-shadow: none !important;
}

.yellowbtn{
    background-color: #ffc107 !important;
    color: #fff !important;
    border: none !important;
    text-shadow: none !important;
}

.orangebtn{
    /*background-color: #ff704d !important;*/
    background-color: #FF8D4F !important;
    color: #fff !important;
    border: none !important;
    text-shadow: none !important;
}

.panelbtn {
	background-color: transparent !important;
    color: red !important;
	border: transparent !important;
	box-shadow: none;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
	height: 300px !important;
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.hdschedule {
	font-size: 9px;
	color: grey;
	width:20px;
}

.dtschedule {
	background-clip: padding-box;
    background-color: #369;
    border: 0px solid white;
    color: white;
}

.expiredschedule {
    position: relative;
    background-color: #ffcccc;
}

.expiredschedule::before {
    content: '';
    border-bottom: 2px solid red;
    width: 100%;
    position: absolute;
    right: 0;
    top: 50%;
}

.dtschedulechoose {
	background-clip: padding-box;
    background-color: #79a6d2;
    border: 0px solid white;
    color: white;
}

.dtschedulereq {
    position: absolute;
    width:25px;
    height:15px;
    border-radius: 80%;
    font-size: 9px;
    text-align: center;
    background-color: red;
    color: white;
    line-height: 15px;
    z-index: 10;
    animation: blinker 3s linear infinite;
}

@keyframes blinker {
  50% {
    background-color: transparent;
  }
}

.cssshift {
	position:relative;
	width:5px;
	height:5px;
	border-radius: 80%;
}

.iconrequest {
    width: 30px;
    height:30px;
    border-radius: 30px;
    border: 6px solid #0099ff;
    font-size: 18px;
    color: #0099ff;
    text-align: center;
    line-height: 28px;
}

.inactiveiconrequest {
    border: 6px solid lightblue;
    color: lightblue;
}

#listdetail_groupchat img{
    display:block;
    width:100%;
    height:auto;
}

#listdetail_groupchat_cal img{
    display:block;
    width:100%;
    height:auto;
}

#htmllistmodd img{
    display:block;
    width:100%;
    height:auto;
}

#divallimg:hover { 
     opacity: 0.2;
}


.hid-box {
    position: relative;
    transition: all .3s ease-out;
    background: #428bca;
    height: 100%;
    z-index: 1000;
    display: none;
}

.wrap {
    white-space: normal !important;
}

.menuwordwrap{
    font-size: 10px;
    width: 80px;
    height: 1px;
    white-space: normal;
    overflow-wrap: break-word;
    hyphens: auto;
}

.disablebtnmonth {
    color: #999999 !important;
}

#go-top-button {
    position: fixed;
    bottom: 80px;
    right: 15px;
    width: 63px !important;
    height: 63px !important;
}

/*BUAT BUTTON INPUT NEW BARU*/
#add-moment {
    position: fixed;
    bottom: 15px;
    right: 20px;
    margin: 0;
    padding: 0;
    width: 60px !important;
    height: 60px !important;
}

#plus-ex {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1004 !important;
    -webkit-transition: all .3s ease;
    width: 50px !important;
    height: 50px !important;
    border: 5px solid red;
    border-radius: 100px !important;
}

#add-moment ul {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 10px;
    left: 24px;
    /*z-index: 1004 !important;*/
}

#add-moment li {
    list-style: none;
    position: absolute;
    margin: 0;
    padding: 0;
    -webkit-transition: all .4s ease-in-out;
    z-index: 1003 !important;
}
/*expand*/
.plus {
    -webkit-transform: rotate(0deg);
}

.ex {
    -webkit-transform: rotate(-45deg);
}

.moment-buttons-child {
    width: 45px;
    height: 45px;
    margin: 0;
    padding: 0;
    bottom: 7px;
    right: 10px;
    border-radius: 100px !important;
}

@-webkit-keyframes upButton {
    0% {
        top: 0px;
    }
    50% {
        top: -65px;
    }
}
@keyframes upButton {
    0% {
        top: 0px;
    }
    50% {
        top: -65px;
    }
}

.icon-picture.out {
    animation: upButton .6s;
    top: -65px;
}

@-webkit-keyframes upButtonz {
    0% {
        top: 0px;
    }
    50% {
        top: -128px;
    }
}
@keyframes upButtonz {
    0% {
        top: 0px;
    }
    50% {
        top: -128px;
  }
}

.icon-people.out {
    animation: upButtonz .6s;
    top: -128px;
}

.lbl-btn-icon {
    position: absolute;
    top: 2px;
    right: 70px;
    display: none;
    color: #FFF;
    font-size: 14px;
    text-shadow: none;
    /*background: #FFF;
    padding: 2px;
    border-radius: 8px;
}*/

.downbtn {
    animation: downButton .6s;
    top: 0px;
}

@-webkit-keyframes downButton {
    0% {
        top: 0px;
    }
    50% {
        top: 100px;
    }
}
@keyframes downButton {
    0% {
        top: 0px;
    }
    50% {
        top: 100px;
  }
}


/*
.icon-people.out {
    top: -95px;
    right: 17px;
    -webkit-transform: rotate(-720deg);
}

.icon-place.out {
    top: -55px;
    right: 60px;
    -webkit-transform: rotate(-720deg);
}

.icon-music.out {
    top: -13px;
    right: 80px;
    -webkit-transform: rotate(-720deg);
}

.icon-thought.out {
    top: -77px;
    right: 211px;
    -webkit-transform: rotate(-720deg);
}

.icon-sleep.out {
    right: 68px;
    -webkit-transform: rotate(-720deg);
}

.icon-gotop.out {
    top: -45px;
    right: -46px;
    display: none;
}*/

/*CSS BUAT DELETE BUTTON DI INPUT MOD*/
li.left {
    -webkit-transition: -webkit-transform 250ms ease;
    -webkit-transform: translateX(-100%);
    -moz-transition: -moz-transform 250ms ease;
    -moz-transform: translateX(-100%);
    -o-transition: -o-transform 250ms ease;
    -o-transform: translateX(-100%);
    transition: transform 250ms ease;
    transform: translateX(-100%);
}
/* Right transition */
li.right {
    -webkit-transition: -webkit-transform 250ms ease;
    -webkit-transform: translateX(100%);
    -moz-transition: -moz-transform 250ms ease;
    -moz-transform: translateX(100%);
    -o-transition: -o-transform 250ms ease;
    -o-transform: translateX(100%);
    transition: transform 250ms ease;
    transform: translateX(100%);
}
/* Border bottom for the previous button during the transition*/
li.left a.ui-btn,
li.right a.ui-btn {
    border-top-width: 0;
    border-left-width: 1px;
    border-right-width: 1px;
}
li a.ui-btn.border-bottom {
    border-bottom-width: 1px;
}
/* Hide the delete button on touch devices */
ul.touch li.ui-li-has-alt a.delete {
    display: none;
}
ul.touch li.ui-li-has-alt a.ui-btn {
    margin-right: 0;
}

.delete {
    z-index: 1 !important;
}
/*END CSS BUAT DELETE BUTTON DI INPUT MOD*/

/*ANIMASI UNTUK ARROW CHANGE*/
.awright {
    position: absolute;
    animation-name: rightdir;
    animation-duration: 3s;
    /* double of original time */
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    color: #558C89 !important;
}

@-webkit-keyframes rightdir {
    0% {left: 0%; top: 0px; transform: rotateY(0deg);}
    49% {transform: rotateY(0deg);}
    50% {left: 70%;  transform: rotateY(180deg);}
    99% {transform: rotateY(180deg);}
    100% {left: 0%; top: 0px; transform: rotateY(0deg);}
}

.awleft {
    position: absolute;
    animation-name: leftdir;
    animation-duration: 3s;
    /* double of original time */
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    color: #558C89 !important;
}

@-webkit-keyframes leftdir {
    0% {right: 0%; top: 0px; transform: rotateY(0deg);}
    49% {transform: rotateY(0deg);}
    50% {right: 70%;  transform: rotateY(180deg);}
    99% {transform: rotateY(180deg);}
    100% {right: 0%; top: 0px; transform: rotateY(0deg);}
}
/*.awleft {
    -webkit-animation: leftdir 2s infinite ;
    -webkit-animation-direction: alternate;
    animation: leftdir 2s infinite ;
    animation-direction: alternate;
    color: #558C89 !important;
}
@-webkit-keyframes leftdir {
    0%   {right: 70%; top: 0px;}
    100% {right: 0px; top: 0px;}
}*/
/*END ANIMASI UNTUK ARROW CHANGE*/

/*BUAT TABLE ROLE MENU*/
table#tablerole  {
    border-collapse: collapse;
    width: 100%;
}

#tablerole th {
    color: #0375B4; text-shadow: none;
    text-align: left;
    padding: 8px;
}

#tablerole tr:nth-child(even) {background-color: #f2f2f2; text-shadow: none}

.afterchecked tr {
    background-color: #68c9fd; color: #fff;
}
/*END BUAT TABLE ROLE MENU*/

.imageheader {
    opacity: 0.5;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}


.tabsx{
    display: table;
    table-layout: fixed;
    width: 100%;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    
    >li{
        transition-duration: .25s;
        display: table-cell;
        list-style: none;
        text-align: center;
        padding: 20px 20px 25px 20px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        color: white;
        
        &:before{
            z-index: -1;
            position: absolute;
            content: "";
            width: 100%;
            height: 120%;
            top: 0;
            left: 0;
            background-color: rgba(255, 255, 255, .3);
            -webkit-transform: translateY(100%);
            transform: translateY(100%);
            transition-duration: .25s;
            border-radius: 5px 5px 0 0;
        }
        
        &:hover{
            &:before{
                -webkit-transform: translateY(70%);
                transform: translateY(70%);
            }
        }
        
        &.active{
            color: rgb(80, 85, 90);
            
            &:before{
                transition-duration: .5s;
                background-color: white;
                -webkit-transform: translateY(0);
                transform: translateY(0);
            }
        }
    }
}

.flash {
    animation-name: flash;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes flash {
    from {color: red;}
    to {color: black;}
}

.acol .ui-collapsible-heading-collapsed > .ui-collapsible-heading-toggle {
    background: #0375B4 !important;
    color: #fff;
    text-shadow: none;
}

.acol .ui-collapsible-heading-toggle {
    background: #0375B4 !important;
    color: #fff !important;
    text-shadow: none !important;
}

.clearfix:before,.clearfix:after {content: " "; display: table;}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}

.homeicobutton{
    cursor: pointer;
}

.zoominheader {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-animation: zoomin 0.4s ease-in;
  animation: zoomin 0.4s ease-in;
  transition: all .3s ease-in-out;
}

/* Zoom in Keyframes */
@-webkit-keyframes zoomin {
    0% {transform: scale(0.5);}
    100% {transform: scale(1);}
}
@keyframes zoomin {
    0% {transform: scale(0.5);}
    100% {transform: scale(1);}
} /*End of Zoom in Keyframes */

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 10px;
  color: white;
  text-align: center;
  background: red;
}

.notifcss {
    border-radius: 50%;
    /*behavior: url(PIE.htc);*/
    /* remove if you don't care about IE8 */
    width: 9px;
    height: 9px;
    padding: 4px;
    background: red !important;
    border: 2px solid red !important;
    text-shadow: none !important;
    color: white;
    text-align: center;
    font: 9px Arial, sans-serif;
    z-index: 100;
}

.ui-loader-background {
    width:100%;
    height:100%;
    top:0;
    margin: 0;
    background: rgba(0, 0, 0, 0.3);
    display:none;
    position: fixed;
    z-index:100;
}

.ui-loading .ui-loader-background {
    display:block;
}

.cornerdiv {
    border-radius: 10px;
    background: #0375B4;
    width: 100%;
    height: 40px;
    color: #fff;
    text-shadow: none;
    text-align: center;
    font-weight: bold;
    line-height: 35px !important;
}

.flash {
    animation-name: flash;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes flash {
    from {color: red;}
    to {color: black;}
}

.wrench {
    -webkit-animation: wrench 2.5s ease infinite;
    animation: wrench 2.5s ease infinite;
    transform-origin-x: 90%;
    transform-origin-y: 35%;
    transform-origin-z: initial;
    color: red;
}

@-webkit-keyframes wrench {
    0% {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
    }

    8% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
    }

    10% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
    }

    18% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
    }

    20% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
    }

    28% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
    }

    30% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
    }

    38% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
    }

    40% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
    }

    48% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
    }

    50% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
    }

    58% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
    }

    60% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
    }

    68% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
    }

    75% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    }
}

.liwo h2 {
    color: blue;
}

/*buat css detail WO / TIMELINE */
/*      * {
  box-sizing: border-box;
}
*/
/* Set a background color */
/*body {
  background-color: #474e5d;
  font-family: Helvetica, sans-serif;
}*/

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  /*max-width: 1200px;*/
  max-width: 600px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  /*background-color: white;*/
  background-image: linear-gradient(0deg, #0375b4, #80ced6);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.containerx {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  /*width: 50%;*/
  width: 30%;
  font-size: 12px;
}

/* The circles on the timeline */
.containerx::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  /*border: 4px solid #FF9F55;*/
  border: 4px solid #0375b4;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.containery {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  /*width: 50%;*/
  width: 30%;
  font-size: 12px;
}

/* The circles on the timeline */
.containery::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  /*border: 4px solid #FF9F55;*/
  border: 4px solid #ff3333;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left-ti {
  left: 0;
}

/* Place the container to the right */
.right-ti {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left-ti::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right-ti::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right-ti::after {
  left: -16px;
}

/* The actual content */
.contentx {
  /*padding: 5px 3px;*/
  padding: 4px 3px 5px 20px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .containerx {
    /*width: 100%;*/
    width: 80%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .containerx::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

 .containery {
    /*width: 100%;*/
    width: 80%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .containery::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left-ti::after, .right-ti::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right-ti {
    left: 0%;
  }
}


svg {
  width: 30px;
  display: block;
  margin: 40px auto 0;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  &.circle {
    -webkit-animation: dash .9s ease-in-out;
    animation: dash .9s ease-in-out;
  }
  &.line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash .9s .35s ease-in-out forwards;
    animation: dash .9s .35s ease-in-out forwards;
  }
  &.check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check .9s .35s ease-in-out forwards;
    animation: dash-check .9s .35s ease-in-out forwards;
  }
}

.alertm p {
  text-align: center;
  margin: 20px 0 60px;
  font-size: 1.25em;
  &.success {
    color: #73AF55;
  }
  &.error {
    color: #D06079;
  }
}


@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

.linetext:after {
    content:"";
    position: absolute;
    border-bottom:1px solid #edeff0;
    width:45%;   
    height:0.5em;
    display: inline;
    margin-left: 0.2em;
    padding-right: 40px;
}

.progress {
  display: flex;
  align-items: center;
  text-shadow: none;
}

.progress .bar {
  width: 3rem;
  height: 0.2rem;
  background: #428bca;
}

.progress .point {
  border: solid 1px #428bca;
  padding: 0.6rem;
  border-radius: 5px;
  background: #edeff0;
}

.progress .point.active {
  background: #428bca;
  color: #FFF;
}

.custom-breadcrumb{
    list-style:none;
    overflow: hidden;
    text-shadow: none;
}

.custom-breadcrumb li {
    text-decoration: none; 
    padding: 10px 0 10px 50px;
    position: relative; 
    display: block;
    float: left;
}

.custom-breadcrumb li:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}

.custom-breadcrumb li:before {
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 50px solid transparent;       
  border-bottom: 50px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -50px; 
  margin-left: 1px;
  left: 100%;
  z-index: 1;
}

.blue-crumb{
    background-color: #2980b9;
    color: white;
}
.blue-crumb:after{
    border-left:30px solid #2980b9;
}

.gray-crumb{
    background-color: #bdc3c7;
}
.gray-crumb:after{
    border-left: 30px solid #bdc3c7;
}

.light-blue-crumb:after{
    border-left:30px solid #3498db;
}
.light-blue-crumb{
    background: #3498db;
    color: white;
}

.faded-crumb:after{
    border-left:30px solid #ecf0f1;
}

.faded-crumb{
    background: #ecf0f1;
    color: #95a5a6;
}

.light-green-crumb:after{
    border-left:30px solid #5CB85C;
}
.light-green-crumb{
    background: #5CB85C;
    color: white;
}

.current {
    
}

.row{
    /*padding: 30px;*/
}

.icon-sm{
    width: 10px !important;
    height: 10px !important;
    font-size: 9px;
    padding: 1px;
    border-radius: 50px;
    color: #FFF;
    text-shadow: none;
    /*box-sizing: initial;*/
    text-align: center;
    display: inline-block;
}

.icon-cl-blue{
    border: 3px solid #428bca;
    background-color: #428bca;
}

.icon-cl-red{
    border: 3px solid #d9534f;
    background-color: #d9534f;
}

.icon-cl-green{
    border: 3px solid #5cb85c;
    background-color: #5cb85c;
}

.icon-cl-yellow{
    border: 3px solid #ffad60;
    background-color: #ffad60;
}

.icon-cl-pink{
    border: 3px solid #ff9999;
    background-color: #ff9999;
}

.icon-clgreen{
    color: #5cb85c;
    font-weight: bold;
}

.icon-clred{
    color: #d9534f;
}

.icon-md{
    width: 20px !important;
    height: 20px !important;
    font-size: 9px;
    padding: 1px;
    border-radius: 50px;
    color: #FFF;
    text-shadow: none;
    /*box-sizing: initial;*/
    text-align: center;
    display: inline-block;
}

.icon-cl-grey{
    border: 3px solid #4a4a4a;
    background-color: #4a4a4a;
}

.custom-corners .ui-bar {
    -webkit-border-top-left-radius: inherit;
    border-top-left-radius: inherit;
    -webkit-border-top-right-radius: inherit;
    border-top-right-radius: inherit;
}

.custom-corners .ui-body {
    border-top-width: 0;
    -webkit-border-bottom-left-radius: inherit;
    border-bottom-left-radius: inherit;
    -webkit-border-bottom-right-radius: inherit;
    border-bottom-right-radius: inherit;
}

