div.ui-grid-a {
    height: 50% !important;
    text-align: center;
    position: absolute;
    bottom: 30px;
    width: 90%;
    left: 50%;
}

.positionori{
    display: block;
    margin-left: -45.5%;
    opacity: 1;
    transition:opacity 0.5s linear;
    z-index: 2;
}

.moveleft {
    transition:0.5s;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    margin-left: -60.5%;
    opacity:0;
    transition:opacity 0.2s linear;
    z-index: 0;
}

.moveright {
    transition:0.5s;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    margin-left: -20.5%;
    opacity:0;
    transition:opacity 0.2s linear;
    z-index: 0;
}

.ui-block-a, .ui-block-b, .ui-block-c {
    height: 30% !important;
}

.ui-bar-a, .ui-bar-b {
    height: 100% !important;
    background-color: transparent !important;
    border-style: none !important;
}

.borderdiv {
    border:1px solid black !important;
    background-color: #fff !important;
}

.homeico {
	/*color: #ff704d;*/
    color: #006080;
	font-size: 21px !important;
	text-align: center;
	text-shadow: none;
}

.homeicotxt {
	color: #152737;
	font-size: 12px !important;
	text-shadow: none;
}

hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

hr.style-three {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

hr.style-six {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.bluebtn{
	background-color: #0375B4 !important;
	color: #fff !important;
	border: none !important;
	text-shadow: none !important;
}

.redbtn{
    background-color: red !important;
    color: #fff !important;
    border: none !important;
    text-shadow: none !important;
}

.orangebtn{
    /*background-color: #ff704d !important;*/
    background-color: #ff1a1a !important;
    color: #fff !important;
    border: none !important;
    text-shadow: none !important;
}

.panelbtn {
	background-color: transparent !important;
    color: #FFFFFF !important;
	border: transparent !important;
	box-shadow: none;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
	height: 300px !important;
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.hdschedule {
	font-size: 12px;
	color: grey;
	width:20px;
}

.dtschedule {
	background-clip: padding-box;
    background-color: #369;
    border: 0px solid white;
    color: white;
}

.expiredschedule {
    position: relative;
    background-color: #ffcccc;
}

.expiredschedule::before {
    content: '';
    border-bottom: 2px solid red;
    width: 100%;
    position: absolute;
    right: 0;
    top: 50%;
}

.dtschedulechoose {
	background-clip: padding-box;
    background-color: #79a6d2;
    border: 0px solid white;
    color: white;
}

.dtschedulereq {
    position: absolute;
    width:25px;
    height:15px;
    border-radius: 80%;
    font-size: 9px;
    text-align: center;
    background-color: red;
    color: white;
    line-height: 15px;
    z-index: 10;
    animation: blinker 3s linear infinite;
}

@keyframes blinker {
  50% {
    background-color: transparent;
  }
}

.cssshift {
	position:relative;
	width:5px;
	height:5px;
	border-radius: 80%;
}

.iconrequest {
    width: 30px;
    height:30px;
    border-radius: 30px;
    border: 6px solid #0099ff;
    font-size: 18px;
    color: #0099ff;
    text-align: center;
    line-height: 28px;
}

.inactiveiconrequest {
    border: 6px solid lightblue;
    color: lightblue;
}

#listdetail_groupchat img{
    display:block;
    width:100%;
    height:auto;
}

#listdetail_groupchat_cal img{
    display:block;
    width:100%;
    height:auto;
}

#htmllistmodd img{
    display:block;
    width:100%;
    height:auto;
}

#divallimg:hover { 
     opacity: 0.2;
}


.hid-box {
    position: relative;
    transition: all .3s ease-out;
    background: #428bca;
    height: 100%;
    z-index: 1000;
    display: none;
}

.ui-loader-background {
    width:100%;
    height:100%;
    top:0;
    margin: 0;
    background: rgba(0, 0, 0, 0.3);
    display:none;
    position: fixed;
    z-index:100;
}

.wrap {
    white-space: normal !important;
}

.disablebtnmonth {
    color: #999999 !important;
}

#go-top-button {
    position: fixed;
    bottom: 80px;
    right: 15px;
    width: 63px !important;
    height: 63px !important;
}

/*BUAT BUTTON INPUT NEW BARU*/
#add-moment {
    position: fixed;
    bottom: 15px;
    right: 15px;
    margin: 0;
    padding: 0;
    width: 63px !important;
    height: 63px !important;
}

#plus-ex {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 9000;
    -webkit-transition: all .3s ease;
    width: 40px !important;
    height: 40px !important;
    border-radius: 100px !important;
}

#add-moment ul {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 10px;
    left: 13px;
}

#add-moment li {
    list-style: none;
    position: absolute;
    margin: 0;
    padding: 0;
    -webkit-transition: all .4s ease-in-out;
    z-index: 8000;
}
/*expand*/
.plus {
    -webkit-transform: rotate(0deg);
}

.ex {
    -webkit-transform: rotate(-45deg);
}

.icon-picture.out {
    top: -105px;
    -webkit-transform: rotate(-720deg);
}

.icon-people.out {
    top: -95px;
    right: 17px;
    -webkit-transform: rotate(-720deg);
}

.icon-place.out {
    top: -55px;
    right: 60px;
    -webkit-transform: rotate(-720deg);
}

.icon-music.out {
    top: -13px;
    right: 80px;
    -webkit-transform: rotate(-720deg);
}

.icon-thought.out {
    top: -77px;
    right: 211px;
    -webkit-transform: rotate(-720deg);
}

.icon-sleep.out {
    right: 68px;
    -webkit-transform: rotate(-720deg);
}

.icon-gotop.out {
    top: -45px;
    right: -46px;
    display: none;
}

/*CSS BUAT DELETE BUTTON DI INPUT MOD*/
li.left {
    -webkit-transition: -webkit-transform 250ms ease;
    -webkit-transform: translateX(-100%);
    -moz-transition: -moz-transform 250ms ease;
    -moz-transform: translateX(-100%);
    -o-transition: -o-transform 250ms ease;
    -o-transform: translateX(-100%);
    transition: transform 250ms ease;
    transform: translateX(-100%);
}
/* Right transition */
li.right {
    -webkit-transition: -webkit-transform 250ms ease;
    -webkit-transform: translateX(100%);
    -moz-transition: -moz-transform 250ms ease;
    -moz-transform: translateX(100%);
    -o-transition: -o-transform 250ms ease;
    -o-transform: translateX(100%);
    transition: transform 250ms ease;
    transform: translateX(100%);
}
/* Border bottom for the previous button during the transition*/
li.left a.ui-btn,
li.right a.ui-btn {
    border-top-width: 0;
    border-left-width: 1px;
    border-right-width: 1px;
}
li a.ui-btn.border-bottom {
    border-bottom-width: 1px;
}
/* Hide the delete button on touch devices */
ul.touch li.ui-li-has-alt a.delete {
    display: none;
}
ul.touch li.ui-li-has-alt a.ui-btn {
    margin-right: 0;
}

.delete {
    z-index: 1 !important;
}
/*END CSS BUAT DELETE BUTTON DI INPUT MOD*/

/*ANIMASI UNTUK ARROW CHANGE*/
.awright {
    position: absolute;
    animation-name: rightdir;
    animation-duration: 3s;
    /* double of original time */
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    color: #558C89 !important;
}

@-webkit-keyframes rightdir {
    0% {left: 0%; top: 0px; transform: rotateY(0deg);}
    49% {transform: rotateY(0deg);}
    50% {left: 70%;  transform: rotateY(180deg);}
    99% {transform: rotateY(180deg);}
    100% {left: 0%; top: 0px; transform: rotateY(0deg);}
}

.awleft {
    position: absolute;
    animation-name: leftdir;
    animation-duration: 3s;
    /* double of original time */
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    color: #558C89 !important;
}

@-webkit-keyframes leftdir {
    0% {right: 0%; top: 0px; transform: rotateY(0deg);}
    49% {transform: rotateY(0deg);}
    50% {right: 70%;  transform: rotateY(180deg);}
    99% {transform: rotateY(180deg);}
    100% {right: 0%; top: 0px; transform: rotateY(0deg);}
}
/*.awleft {
    -webkit-animation: leftdir 2s infinite ;
    -webkit-animation-direction: alternate;
    animation: leftdir 2s infinite ;
    animation-direction: alternate;
    color: #558C89 !important;
}
@-webkit-keyframes leftdir {
    0%   {right: 70%; top: 0px;}
    100% {right: 0px; top: 0px;}
}*/
/*END ANIMASI UNTUK ARROW CHANGE*/

/*BUAT TABLE ROLE MENU*/
table#tablerole  {
    border-collapse: collapse;
    width: 100%;
}

#tablerole th {
    color: #0375B4; text-shadow: none;
    text-align: left;
    padding: 8px;
}

#tablerole tr:nth-child(even) {background-color: #f2f2f2; text-shadow: none}

.afterchecked tr {
    background-color: #68c9fd; color: #fff;
}
/*END BUAT TABLE ROLE MENU*/

.imageheader {
    opacity: 0.5;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}


.tabsx{
    display: table;
    table-layout: fixed;
    width: 100%;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    
    >li{
        transition-duration: .25s;
        display: table-cell;
        list-style: none;
        text-align: center;
        padding: 20px 20px 25px 20px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        color: white;
        
        &:before{
            z-index: -1;
            position: absolute;
            content: "";
            width: 100%;
            height: 120%;
            top: 0;
            left: 0;
            background-color: rgba(255, 255, 255, .3);
            -webkit-transform: translateY(100%);
            transform: translateY(100%);
            transition-duration: .25s;
            border-radius: 5px 5px 0 0;
        }
        
        &:hover{
            &:before{
                -webkit-transform: translateY(70%);
                transform: translateY(70%);
            }
        }
        
        &.active{
            color: rgb(80, 85, 90);
            
            &:before{
                transition-duration: .5s;
                background-color: white;
                -webkit-transform: translateY(0);
                transform: translateY(0);
            }
        }
    }
}

.flash {
    animation-name: flash;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes flash {
    from {color: red;}
    to {color: black;}
}

.acol .ui-collapsible-heading-collapsed > .ui-collapsible-heading-toggle {
    background: #0375B4 !important;
    color: #fff;
    text-shadow: none;
}

.acol .ui-collapsible-heading-toggle {
    background: #0375B4 !important;
    color: #fff !important;
    text-shadow: none !important;
}

.clearfix:before,.clearfix:after {content: " "; display: table;}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}

.homeicobutton{
    cursor: pointer;
}

.zoominheader {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-animation: zoomin 0.4s ease-in;
  animation: zoomin 0.4s ease-in;
  transition: all .3s ease-in-out;
}

/* Zoom in Keyframes */
@-webkit-keyframes zoomin {
    0% {transform: scale(0.5);}
    100% {transform: scale(1);}
}
@keyframes zoomin {
    0% {transform: scale(0.5);}
    100% {transform: scale(1);}
} /*End of Zoom in Keyframes */

