li.left {
	-webkit-transition: -webkit-transform 250ms ease;
	-webkit-transform: translateX(-100%);
	-moz-transition: -moz-transform 250ms ease;
	-moz-transform: translateX(-100%);
	-o-transition: -o-transform 250ms ease;
	-o-transform: translateX(-100%);
	transition: transform 250ms ease;
	transform: translateX(-100%);
}
/* Right transition */
li.right {
	-webkit-transition: -webkit-transform 250ms ease;
	-webkit-transform: translateX(100%);
	-moz-transition: -moz-transform 250ms ease;
	-moz-transform: translateX(100%);
	-o-transition: -o-transform 250ms ease;
	-o-transform: translateX(100%);
	transition: transform 250ms ease;
	transform: translateX(100%);
}
/* Border bottom for the previous button during the transition*/
li.left a.ui-btn,
li.right a.ui-btn {
	border-top-width: 0;
	border-left-width: 1px;
	border-right-width: 1px;
}
li a.ui-btn.border-bottom {
	border-bottom-width: 1px;
}
/* Hide the delete button on touch devices */
ul.touch li.ui-li-has-alt a.delete {
	display: none;
}
ul.touch li.ui-li-has-alt a.ui-btn {
	margin-right:0;
}
/* Styling for the popup */
#confirm p {
	text-align: center;
	font-size: inherit;
	margin-bottom: .75em;
}

/*STYLE BUAT GANTI WARNA NAMA KARYAWAN DI HOME*/
#name
{
	width: 100%;
    height: 70px;
    background-color: #ff4d4d;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 15s;
	animation-iteration-count: infinite;
	border-radius: 5px;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {background-color: #ff4d4d;}
    25%  {background-color: #ffa64d;}
    50%  {background-color: #66b3ff;}
    100% {background-color: #ff4d4d;}
}

/* Standard syntax */
@keyframes example {
    0%   {background-color: #ff4d4d;}
    25%  {background-color: #ffa64d;}
    50%  {background-color: #66b3ff;}
    100% {background-color: #ff4d4d;}
}

/* A bit custom styling */
#pagehome.my-page .ui-listview li .ui-btn p {
	color: #ff7733;
	text-shadow:none !important;
}

#demo-page.my-page .ui-listview li .ui-btn .ui-li-aside {
	color: #eee;
}
/* First breakpoint is 48em (768px). 3 column layout. Tiles 250x250 pixels incl. margin at the breakpoint. */
@media ( min-width: 48em ) {
	#pagehome.my-page .ui-content {
		padding: .5625em; /* 9px */
	}
	
	#pagehome.my-page .ui-listview li {
		float: left;
		width: 30.9333%; /* 33.3333% incl. 2 x 1.2% margin */
		height: 14.5em; /* 232p */
		margin: .5625em 1.2%;
	}
	#pagehome.my-page .ui-listview li > .ui-btn {
		-webkit-box-sizing: border-box; /* include padding and border in height so we can set it to 100% */
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		height: 100%;
	}
	
	#pagehome.my-page .ui-listview li.ui-li-has-thumb .ui-li-thumb {
		height: auto; /* To keep aspect ratio. */
		max-width: 100%;
		max-height: none;
	}
	
    /* Make all list items and anchors inherit the border-radius from the UL. */
	#pagehome.my-page .ui-listview li,
	#pagehome.my-page .ui-listview li .ui-btn,
	#pagehome.my-page .ui-listview .ui-li-thumb {
		-webkit-border-radius: inherit;
		border-radius: inherit;
	}
	
    /* Hide the icon */
	#pagehome.my-page .ui-listview .ui-btn-icon-right:after {
		display: none;
	}
	
	/* Make text wrap. */
	#pagehome.my-page .ui-listview h2,
	#pagehome.my-page .ui-listview p {
		white-space: normal;
		overflow: visible;
		position: absolute;
		left: 0;
		right: 0;
	}
	
    /* Text position */
	#pagehome.my-page .ui-listview h2 {
		font-size: 1.25em;
		margin: 0;
		padding: .125em 1em;
		bottom: 50%;
	}
	
	#pagehome.my-page .ui-listview p {
		font-size: 1em;
		margin: 0;
		padding: 0 1.25em;
		min-height: 20%;
		bottom: 0;
	}
	
    /* Semi transparent background and different position if there is a thumb. The button has overflow hidden so we don't need to set border-radius. */
	.ui-listview .ui-li-has-thumb h2,
	.ui-listview .ui-li-has-thumb p {
		background: #111;
		background: rgba(0,0,0,.8);
	}
	
	#pagehome.ui-listview .ui-li-has-thumb h2 {
		bottom: 35%;
	}
	
	#pagehome.ui-listview .ui-li-has-thumb p {
		min-height: 35%;
	}
	
	/* ui-li-aside has class .ui-li-desc as well so we have to override some things. */
	#pagehome.my-page .ui-listview .ui-li-aside {
		padding: .125em .625em;
		width: auto;
		min-height: 0;
		top: 0;
		left: auto;
		bottom: auto;
		/* Custom styling. */
		background: #990099;
		background: rgba(153,0,153,.85);
		-webkit-border-top-right-radius: inherit;
		border-top-right-radius: inherit;
		-webkit-border-bottom-left-radius: inherit;
		border-bottom-left-radius: inherit;
		-webkit-border-bottom-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	
	/* If you want to add shadow, don't kill the focus style. */
	#pagehome.my-page .ui-listview li {
		-moz-box-shadow: 0px 0px 9px #111;
		-webkit-box-shadow: 0px 0px 9px #111;
		box-shadow: 0px 0px 9px #111;
	}
	
    /* Images mask the hover bg color so we give desktop users feedback by applying the focus style on hover as well. */
	#pagehome.my-page .ui-listview li > .ui-btn:hover {
		-moz-box-shadow: 0px 0px 12px #33ccff;
		-webkit-box-shadow: 0px 0px 12px #33ccff;
		box-shadow: 0px 0px 12px #33ccff;
	}
	
	/* Animate focus and hover style, and resizing. */
	#pagehome.my-page .ui-listview li,
	#pagehome.my-page .ui-listview .ui-btn {
		-webkit-transition: all 500ms ease;
		-moz-transition: all 500ms ease;
		-o-transition: all 500ms ease;
		-ms-transition: all 500ms ease;
		transition: all 500ms ease;
	}
}

/* Second breakpoint is 63.75em (1020px). 4 column layout. Tiles will be 250x250 pixels incl. margin again
atthe breakpoint. */
@media ( min-width: 63.75em ) {
	#pagehome.my-page .ui-content {
		padding: .625em; /* 10px */
	}
	
	/* Set a max-width for the last breakpoint to prevent too much stretching on large screens.
	By setting the max-width equal to the breakpoint width minus padding we keep square tiles. */
	#pagehome.my-page .ui-listview {
		max-width: 62.5em; /* 1000px */
		margin: 0 auto;
	}
	
	/* Because of the 1000px max-width the width will always be 230px (and margin left/right 10px),
	but we stick to percentage values for demo purposes. */
	#pagehome.my-page .ui-listview li {
		width: 23%;
		height: 230px;
		margin: .625em 1%;
	}
}
/* For this demo we used images with a size of 310x310 pixels. Just before the second breakpoint the images reach their max width: 1019px - 2 x 9px padding = 1001px x 30.9333% = ~310px */

/*BUAT STYLE TAB EDIT*/
#editdetailmod {
    border-width: 0px !important; 
    background-color:#CCC  !important;
}

#editdetailmod h3 a {
    border-width: 0px !important; 
    background:#CCC  !important;
}
#editcommenttmod {
    border-width: 0px !important; 
    background-color:#0CF  !important;
}

#editcommenttmod h3 a {
    border-width: 0px !important; 
    background:#0CF  !important;
}

#editspattmod {
    border-width: 0px !important; 
    background-color:#0C6  !important;
}

#editspattmod h3 a {
    border-width: 0px !important; 
    background:#0C6  !important;
}

#editgallmod {
    border-width: 0px !important; 
    background-color:#F93  !important;
}

#editgallmod h3 a {
    border-width: 0px !important; 
    background:#F93  !important;
}

/*BUAT CONTENT DI DESKTOP*/
.content-max-width{
	max-width:800px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

/*BUAT LOGO DI NAVBAR*/
.ui-icon-capturenav
{
    background: url('../images/capture_navbar.svg')50% 50% no-repeat;
    background-size: 22px 22px;
	padding-top:27px !important;
}
.ui-icon-editnav
{
    background: url('../images/edit_navbar.svg')50% 50% no-repeat;
    background-size: 22px 22px;
	padding-top:27px !important;
}

.ui-icon-commentnav
{
    background: url('../images/comment_navbar1.svg') 50% 50% no-repeat;
    background-size: 22px 22px;
	padding-top:27px !important;
}

.ui-icon-spattnav
{
    background: url('../images/spatt_navbar.svg') 50% 50% no-repeat;
    background-size: 22px 22px;
	padding-top:27px !important;
}

.ui-icon-gallnav
{
    background: url('../images/gallery_navbar.svg') 50% 50% no-repeat;
    background-size: 22px 22px;
	padding-top:27px !important;
}

.navbarsel
{	
	background-color:#737373 !important;
	color:#FFF !important;
	text-shadow:none !important;
}

<!--CSS BUAT IMAGE PREVIEW-->
#imagePreview  {
	width: 80%; max-width: 300px;
}
#imagePreview img {
	width: 100%;
}

#imagePreview_new  {
	width: 80%; max-width: 300px;
}
#imagePreview_new img {
	width: 100%;
}

#imagePreview_new2  {
	width: 80%; max-width: 300px;
}
#imagePreview_new2 img {
	width: 100%;
}

<!--CLASS CHECK-->
.check {
	background-color:#009933;
}

<!--CLASS BUAT UI PERGANTIAN SHIFT-->
#divpopup {
    position:relative;
	width:200px;
}

.imgtxt {
    position:absolute;
    left:5px;
    top:5px;
}

.modv th{
	background-color: #09C !important;
	color:#FFFFFF;
}

.modv{
	background-color: #999 !important;
	color: #000;
}

.modv tbody td{
	border-bottom: 1px solid rgba(0,0,0,.05);
}

.modv tbody tr:nth-child(odd) td {
	background-color: #CCC; /* non-RGBA fallback  */
	color:#000;
}

div#footerlistmod.ui-footer.ui-bar-inherit {
	background-color:transparent !important;
	border-color:transparent !important;
}

div#footerlistmod_input.ui-footer.ui-bar-inherit {
	background-color:transparent !important;
	border-color:transparent !important;
}

.imgview {
    image-orientation: from-image;
}

.btnsamesize .ui-btn{
	background-color:orange !important; 
	height:12px !important; 
	color:#fff !important;
	line-height: 12px; /* <- changed this */
}

.test .ui-btn:hover{
	 background-color:#ededed !important; 
	 color:#000 !important;
}

.bg-img{
	background: url(http://10.9.0.27:8080/mod/images/cp_mall.jpg);
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

/*NEW STYLE FOR TAB*/
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: transparent !important;
	border: none !important;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    /*background-color: #ff8533;*/
	border-bottom: solid #ff8533;
	background-color:transparent !important;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 0px;
    border: 1px solid #ccc;
    /*border-top: none;*/
	border: none;
}

.tablinks{
	font-size: 12px !important;	
}

.btnsuccess{
	background:#1a8cff !important;
	color:#FFF !important;
	text-shadow:none !important;
	border:none !important;
}

.btnfailed{
	background:#ff0000 !important;
	color:#FFF !important;
	text-shadow:none !important;
	border:none !important;
}

.btnpilih{
	background:#ff6600 !important;
	color:#FFF !important;
	text-shadow:none !important;
	border:none !important;
}